# dbt ignore file
dbt_packages/
logs/
target/
dbt_modules/

# Security and credentials
.env
*.pem
.user.yml

# Data
*.csv
*.xlsx
*.json
*.parquet
data/

# OS and IDE files
.DS_Store
Thumbs.db
venv/
.vscode/
.idea/
.python-version
__pycache__/
*.log
dbt_internal_packages/
